@import '../../styles/veriables.scss';


    .element{
      font-family: inherit;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;

      a{
        text-decoration: none;
        color: $primary-color-text; 
        font-size: 1.7rem;
        padding: 1.5rem;
        z-index: 10;
      }

      &-icon {
        color: $primary-color-text;
        margin-left: 0.6rem;
        position: absolute;
        right: 40px;
        top: 25px;
      }

      &:hover {
        background-color: $primary-color-dark;
        cursor: pointer;
        border-left: 4px solid $primary-color-light;
      }
  
    }

    .active{
      background-color: $primary-color-dark;
      border-left: 4px solid $primary-color-light;
    }